.blog-post {
    background:var(--tertiary-color);
    padding:10px;
    border-radius:10px;
    margin-bottom:20px;
}

.blog-post a {
    text-decoration:none;
    color:var(--extra-color);
}

.blog-post a:hover {
    color:var(--extra-color);
    background-color:var(--tertiary-color);
    border-radius:5px;
    border-bottom:1px solid;
}