#contact-block, #contact-form {
    background:var(--tertiary-color);
    padding:10px;
    border-radius:10px;
    margin-bottom:50px;
    min-height:400px;
}

#contact-block {
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

#contact-form p {
    padding-bottom:40px;
}

#contact-form input, #contact-form textarea {
    min-width: 300px;
}

#contact img {
    display:block;
    margin:auto;
    max-width:100%;
    max-height:50%;
}

#contact-form label {
    display:block;
    font-weight:bold;
    margin-bottom:5px;
    color:var(--extra-color);
}

.hidden {
    display:none;
}