@import url("https://www.w3schools.com/w3css/4/w3.css");

.w3-modal {
    background-color: rgba(0, 0, 0, .6);
}

.w3-modal-content {
  background:var(--tertiary-color);
  max-height:300px;
}

#dialog-section {
  position: relative;
}

#artist-dialog,
#add-dialog,
#edit-dialog,
#delete-dialog {
  display: block;
}

#artist-dialog img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 0;
  order: 2;
  margin-top:50px;
  margin-right:100px;
}

#artist-dialog .columns {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
}

#delete-content {
  margin-bottom: 10px;
}

#dialog-content {
  flex: 1;
  margin-left: 0;
  text-align: left;
}

#dialog-content h3, #dialog-content p {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

#dialog-content p {
  background:transparent;
  margin-left:0;
  padding:0;
}

#img-prev {
  max-width: 100%;
}

#delete-dialog button {
  margin-right: 10px;
}

@media only screen and (min-width: 600px) {
  #img-prev-section {
    flex: 1;
  }

  #img-prev {
    max-width: 100%;
  }

  #img-upload {
    flex: 6;
  }
}