@import url("https://www.w3schools.com/w3css/4/w3.css");

.w3-modal {
    background-color: rgba(0, 0, 0, .6);
}

.w3-modal-content {
  background:var(--tertiary-color);
  max-height:300px;
}

#dialog-section {
  position: relative;
}

#artist-dialog,
#add-dialog,
#edit-dialog,
#delete-dialog {
  display: block;
}

#artist-dialog img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 0;
  order: 2;
  margin-top:50px;
  margin-right:100px;
}

#artist-dialog .columns {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
}

#delete-content {
  margin-bottom: 10px;
}

#dialog-content {
  flex: 1;
  margin-left: 0;
  text-align: left;
}

#dialog-content h3, #dialog-content p {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

#dialog-content p {
  background:transparent;
  margin-left:0;
  padding:0;
}

#img-prev {
  max-width: 100%;
}

#delete-dialog button {
  margin-right: 10px;
}

/* add artist dialog */
#add-artist-form {
  text-align: left;
  width: 100%;
}

#add-artist-form .columns {
  background: transparent;
  display: block;
}

#add-artist-form h3 {
  margin-top: 2;
  margin-bottom: 20px;
}

#add-artist-form p {
  margin: 0 0 15px 0;
  padding: 0;
  background: transparent;
}

#add-artist-form label {
  display: block;
  margin-bottom: 5px;
}

#add-artist-form input[type="text"],
#add-artist-form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 0;
  box-sizing: border-box;
  background: white;
}

#add-artist-form input[type="file"] {
  cursor: pointer;
}

#add-artist-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: var(--main-background-color);
  color:var(--secondary-color);
  cursor: pointer;
}

#add-artist-form button:hover {
  background: var(--primary-color);
  color:black;
}

#add-dialog .w3-modal-content {
  background: var(--tertiary-color);
  min-height: 615px;
  height: auto;
}

@media only screen and (min-width: 600px) {
  #img-prev-section {
    flex: 1;
  }

  #img-prev {
    max-width: 100%;
  }

  #img-upload {
    flex: 6;
  }
}