#discover-artists {
    text-align:center;
}

#discover-artists p {
    background:var(--tertiary-color);
    padding:10px;
    border-radius:10px;
    max-width:75%;
    margin:auto;
}

#discover-artists button {
   margin-top:20px;
}

#discover-artists a.browse-artists {
    display:inline-block;
    text-decoration:none;
    color:var(--extra-color);
    background:var(--secondary-color);
    padding:10px;
    border-radius:10px;
}

#discover-artists a.browse-artists:hover {
    display:inline-block;
    text-decoration:none;
    color:var(--secondary-color);
    background:var(--main-background-color);
    padding:10px;
    border-radius:10px;
}