#discover-artists {
    text-align:center;
}

#discover-artists p {
    background:var(--tertiary-color);
    padding:10px;
    border-radius:10px;
    max-width:75%;
    margin:auto;
}

#discover-artists button {
   margin-top:20px;
}

#discover-artists a.browse-artists {
    display:inline-block;
    text-decoration:none;
    color:var(--extra-color);
    background:var(--secondary-color);
    padding:10px;
    border-radius:10px;
}

#discover-artists a.browse-artists:hover {
    display:inline-block;
    text-decoration:none;
    color:var(--secondary-color);
    background:var(--main-background-color);
    padding:10px;
    border-radius:10px;
}

/* browse artists */
#discover-artists .artist {
    background:var(--primary-color);
    align-items: center;
    flex: 0 0 calc(25% - 20px);
}

#discover-artists .artist:hover {
    background:var(--tertiary-color);
    cursor: pointer;
}

#discover-artists .artist p {
    text-align: center;
}

#discover-artists .artist img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 0;
}

#discover-artists .artist-description p {
    background:transparent;
}

#artist-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    text-align: center;
}