/* Navigation */
#toggle-nav div {
    width:25px;
    height:2px;
    background-color:black;
    margin:6px 0;
}

#main-nav ul {
    padding-left:0;
}

#main-nav li {
    list-style-type:none;
    text-align:center;
    margin-bottom:10px;
}

#main-nav a {
    text-decoration:none;
    color:var(--extra-color);
}

#main-nav ul a:hover, #login-nav a:hover {
    color:var(--secondary-color);
    padding:5px;
    border-radius:5px;
    border-bottom:2px solid var(--secondary-color);
}

#login-nav {
    position:absolute;
    top:2.5%;
    right:2.5;
}

#login-nav a {
    color:var(--extra-color);
    padding:5px;
    text-decoration:none;
    border-bottom:2px solid transparent;
}

#login-nav ul {
    margin:0;
    padding-left:0;
}

#login-nav li {
    list-style-type:none;
    margin-bottom:10px;
}

#toggle-nav {
    display:block;
    color:white;
    text-decoration:none;
    font-size:2em;
}

#toggle-nav:hover {
    padding:0;
    border-bottom:none;
    border-radius:0;
    color:white;
}

@media screen and (min-width: 768px) {
    #main-nav .hide-small {
        display:flex;
    }

    #main-nav li {
        border-bottom:0;
    }

    #toggle-nav {
        display:none;
    }
}